/*
white -FAF7F4
Main brand color - EEC1B6
Link dark -8E1812
*/

html{
	background-color: #FAF7F4;
}
body{
	max-width: 100%;
	font-family: 'Cabin', sans-serif;
	background-color: #EEC1B6;
}
h1{
	margin-top: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 50px;
	font-family: 'Abril Fatface', cursive;
}
.content{
	padding-top: 70px;
	color:#2D2C2C;
	margin: 30px;
	min-height: 41rem;
}
.center{
	text-align: center;
}
/*-----------PARAGRAPHS-----------*/
.paragraphs{
	text-align: left;
	max-width: 700px;
	margin:auto;
	font-size: 17px;
	padding-bottom: 15px;
}
.paragraphs a{
	color:#4a4a4a;
}
.paragraphs p{
	padding-bottom: 15px;
	margin:0px !important;
	position: relative;
}.paragraphs p:hover .overlayText{
	visibility: visible;
}.paragraphs p:hover .overlay{
	visibility: visible;
}
.paragraphs p.overlayText{
	visibility: hidden;
}
.paragraphs p.overlay{
	visibility: hidden;
}
/*-----------PARAGRAPHS-----------*/

/*-------------OVERLAY------------*/

p.overlay{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
	top: 50%;
    left: 50%;    transform: translate(-50%, -50%);

}
p.overlayText{
	color:white;
	position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
}
/*-------------OVERLAY------------*/


/*----------GRID----------*/
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    	padding-left:15px;
	padding-right:15px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}
/*----------GRID----------*/
